@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-size: cover;
}

.logo {
    position: relative;
    left: 80px;
}

.entire-menu {
    position: absolute;
    padding: 30px;
    width: 80%;
    left: 35px;
}

.hamburguer {
    width: 20px;
    height: 20px;
    display: block;
    position: relative;
    background: none;
    margin: 0 0 10px 0;
}

.hamburguer:after,
.hamburguer:before,
.hamburguer span,
.hamburguer label {
    content: " ";
    display: block;
    width: 100%;
    height: 4px;
    background: #000;
    left: 0;
    position: absolute;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.hamburguer:before {
    top: 0;
}

.hamburguer:after {
    bottom: 0;
}

.hamburguer:focus {
    outline: none;
}

.hamburguer label {
    width: 100%;
    height: 100%;
    background: none;
    cursor: pointer;
    z-index: 1000;
}

.hamburguer span {
    top: 8px;
}

#change-hamburguer {
    display: none;
}

#change-hamburguer:checked ~ .hamburguer:before,
#change-hamburguer:checked ~ .hamburguer:after {
    top: 10px;
    margin-top: -10%;
}

#change-hamburguer:checked ~ .hamburguer:before {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#change-hamburguer:checked ~ .hamburguer:after {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#change-hamburguer:checked ~ .hamburguer span {
    opacity: 0;
}

#change-hamburguer:checked ~ .menu {
    max-height: 200px;
}

.menu {
    max-height: 0;
    height: auto;
    background: rgb(231, 231, 231);
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 13px;
    width: 40%;
    border-radius: 0px 20px 20px 0px;
}

.menu a {
    text-decoration: none;
    color: #000000;
    padding: 5px 10px;
    display: block;
    text-transform: uppercase;
    border-left: 5px solid #000;
}

.menu a:hover {
    border-left: 5px solid #3e996f;
    color: #3e996f;
    background: rgba(255, 255, 255, 0.2);
}

#button-login {
    position: relative;
    font-family: "Poppins", sans-serif;
    color: #000;
    outline: #3e996f;
    margin: 10px 30px 10px 0;
    float: right;
    box-shadow: none;
}

#button-login:hover {
    background: #3e996f;
}

.info-veton {
    margin: 85px 0 0 65px;
    float: left;
    width: 45%;
}

.background-caes {
    margin-top: 2px;
    margin-right: 30px;
    background-color: rgb(231, 231, 231);
    border-radius: 0px 20px 20px 0px;
    float: right;
    width: 50%;
}

.foto-caes {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

#button-consulta {
    font-family: "Poppins", sans-serif;
    color: #000;
    outline: #3e996f;
    margin: 10px 10px 10px 0;
    border-radius: 20px;
    box-shadow: none;
}

#button-consulta:hover {
    background: #3e996f;
}
