<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Consultas</title>
    </head>
    <body>
        <h1>Consultas</h1>
        <% if (consultas.length > 0) { %> <% consultas.forEach(consulta => { %>
        <a href="/consultas/<%= consulta._id %> ">
            <h3><%= consulta.titulo %></h3>
            <p><%= consulta.hora %></p>
            <p><%= consulta.descricao %></p>
        </a>
        <% }) %> <% } else { %>
        <p>Nao ha consultas</p>
        <% } %>
    </body>
</html>
