<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="shortcut icon"
            href="images/favicon.ico"
            type="image/x-icon"
        />
        <title>Login / Sign-Up</title>
        <link type="text/css" href="css/styles.css" rel="stylesheet" />
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    </head>
    <body>
        <div class="login-container">
            <div class="card">
                <a class="go_back" onclick="history.back()" class="next round"><i class='fas fa-arrow-circle-left'></i></a>
                <h3 class="signup-title">Login / Sign-Up</h3>
                <div class="inputBox">
                    <input type="text" required="required" />
                    <span>Username</span>
                </div>
                <div class="inputBox">
                    <input type="password" required="required" />
                    <span>Password</span>
                </div>
                <div class="buttons-container">
                    <button class="submit-signup">SIGN-UP</button>
                    <button class="submit-login">LOGIN</button>
                </div>
                <div>
                    <a class="forgot-password" href="">Forgot my password</a>
                </div>
            </div>
        </div>
    </body>
</html>
