@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-size: cover;
    width: 100%;
}

.logo {
    position: absolute;
    left: 80px;
}

.sticky-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(231, 231, 231);
    height: 70px;
}

.entire-menu {
    position: absolute;
    padding: 30px;
    width: 80%;
    left: 35px;
}

.hamburguer {
    width: 20px;
    height: 20px;
    display: block;
    position: relative;
    background: none;
    margin: 0px 0px 10px 0px;
}

.hamburguer:after,
.hamburguer:before,
.hamburguer span,
.hamburguer label {
    content: " ";
    display: block;
    width: 100%;
    height: 4px;
    background: #000;
    left: 0;
    position: absolute;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.hamburguer:before {
    top: 0;
}

.hamburguer:after {
    bottom: 0;
}

.hamburguer:focus {
    outline: none;
}

.hamburguer label {
    width: 100%;
    height: 100%;
    background: none;
    cursor: pointer;
    z-index: 1000;
}

.hamburguer span {
    top: 8px;
}

#change-hamburguer {
    display: none;
}

#change-hamburguer:checked ~ .hamburguer:before,
#change-hamburguer:checked ~ .hamburguer:after {
    top: 10px;
    margin-top: -10%;
}

#change-hamburguer:checked ~ .hamburguer:before {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#change-hamburguer:checked ~ .hamburguer:after {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#change-hamburguer:checked ~ .hamburguer span {
    opacity: 0;
}

#change-hamburguer:checked ~ .menu {
    max-height: 200px;
}

.menu {
    max-height: 0;
    height: auto;
    background: rgb(231, 231, 231);
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    overflow: hidden;
    font-weight: 400;
    font-size: 13px;
    width: 40%;
    margin-top: 20px;
}

.menu a {
    text-decoration: none;
    color: #000000;
    padding: 5px 10px;
    display: block;
    text-transform: uppercase;
    border-left: 5px solid #000;
}

.menu a:hover {
    border-left: 5px solid #3e996f;
    color: #3e996f;
    background: rgba(255, 255, 255, 0.2);
}

#button-login {
    position: relative;
    font-family: "Poppins", sans-serif;
    color: #000;
    outline: #3e996f;
    margin: 15px 30px 10px 0px;
    float: right;
    box-shadow: none;
}

#button-login:hover {
    background: #3e996f;
}

.calendar {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    background-color: #fffcff;
}

#backButton, #nextButton {
    cursor: pointer;
    box-shadow: 0px 0px 2px gray;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}

#deleteButton{
    cursor: pointer;
    box-shadow: 0px 0px 2px gray;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-size: 15px;
}

#closeButton{
    position: relative;
    left: 270px;
    top: 0;
    width: 30px;
}

#header {
    padding: 10px;
    color: #3e996f;
    font-size: 26px;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
}

#header button {
    background-color: #3e996f;
}

#container {
    width: 770px;
}

#weekdays {
    display: flex;
    color: black;
}

#weekdays div {
    width: 100px;
    padding: 10px;
}

#calendar {
    display: flex;
    flex-wrap: wrap;
}

.day {
    width: 100px;
    padding: 10px;
    height: 100px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: white;
    margin: 5px;
    box-shadow: 0px 0px 3px #cbd4c2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.day:hover {
    background-color: #e8faed;
}

.day + #currentDay {
    background-color: #e8faed;
}

.event {
    font-size: 10px;
    padding: 3px;
    background-color: #3e996f;
    color: white;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
}

.padding {
    cursor: default !important;
    background-color: #fffcff !important;
    box-shadow: none !important;
}

#newEventModal,
#deleteEventModal {
    display: none;
    z-index: 20;
    padding: 25px;
    background-color: #3e996f;
    color: white;
    box-shadow: 0px 0px 3px #3e996f;
    border-radius: 5px;
    width: 350px;
    top: 100px;
    left: calc(50% - 175px);
    position: absolute;
    font-family: sans-serif;
}

#animal {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
}

#animal.error {
    border: 2px solid red;
}

#hora {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
}

#hora.error {
    border: 2px solid red;
}

#descricao {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
}

#cancelButton {
    position: relative;
    left: 270px;
    bottom: 10px;
    width: 30px;
}

#cancelButton,
#deleteButton, #closeButton{
    background-color: #d36c6c;
}

#saveButton {
    position: relative;
    width: 110px;
    height: 40px;
    left: 100px;
    cursor: pointer;
    box-shadow: 0px 0px 2px gray;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}

#saveButton{
    background-color: rgb(231, 231, 231);
    color: black;
}

#eventText {
    font-size: 14px;

}

#modalBackDrop {
    display: none;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
}
